{% extends 'base.html.twig' %}

{% block title %}ContactForm{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-2">Contact</h1>

    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}

        <input type="submit" value="Send" />

        {{ form_end(our_form) }}
    </div>
{% endblock %}
